<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="CuteDevEntities" connectionString="metadata=res://*/EF.CuteDevCoreModel.csdl|res://*/EF.CuteDevCoreModel.ssdl|res://*/EF.CuteDevCoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=RANDEVU;persist security info=True;user id=sa;password=123654volki;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="constr" connectionString="metadata=res://*/Entity.EF.MaxiBot.csdl|res://*/Entity.EF.MaxiBot.ssdl|res://*/Entity.EF.MaxiBot.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MAXIBOT;persist security info=True;user id=sa;password=123654volki;MultipleActiveResultSets=True;App=EntityFramework&quot;"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
